.contrainer{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: rgb(255, 255, 255);
	margin: 20px 0px 20px;
	font-size: 90px;
}
h3{
	color: rgb(255, 255, 255);
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: var(--green);
	letter-spacing: 2px;
	font-size: 30px;
}

.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
h5{
	color: white;
	font-size: 30px;
	margin-bottom: 15px;
}

